$widescreen-enabled: false
$fullhd-enabled: false

$black:        hsl(189,   5%,  4%)
$black-bis:    hsl(189,   5%,  7%)
$black-ter:    hsl(189,   5%,  14%)

$grey-darker:  hsl(189,   5%,  21%)
$grey-dark:    hsl(189,   5%,  29%)
$grey:         hsl(189,   5%,  48%)
$grey-light:   hsl(189,   5%,  71%)
$grey-lighter: hsl(189,   5%,  86%)

$white-ter:    hsl(189,   5%,  96%)
$white-bis:    hsl(189,   5%,  98%)
$white:        hsl(189,   5%, 100%)

$blue:         #22454C
$green:        #749C4E
$orange:       #D58638
$red:          #DB2019
$yellow:       #DDD065

$primary: $red
$info: $blue
$success: $green
$warning: $yellow
$danger: $orange

$light: $white-ter
$dark: $grey-darker

$background: $grey-darker
$body-background-color: $grey-darker
$footer-background-color: $black-ter

$family-serif: 'Roboto-Slab-Regular', 'Roboto Slab', serif
$family-primary: $family-serif

$radius-small: 1px
$radius: 2px
$radius-large: 4px

// content
$text: $grey-light
$text-light: $grey-dark
$text-strong: $grey-lighter

$link: $red
$link-hover: $white-ter

$content-blockquote-border-left: 5px solid $red
$content-blockquote-background-color: $grey-dark

// boxes
$box-background-color: $grey-dark
$box-radius: $radius

// navbar
$navbar-background-color: $black-ter
$navbar-item-active-background-color: $red
$navbar-item-active-color: $white-ter
$navbar-item-color: $red
$navbar-item-hover-background-color: $grey-darker
$navbar-item-hover-color: $white-ter

$section-padding: 1rem 0.5rem

// message boxes
$message-background-color: $grey-dark
$message-body-padding: 0.75em 1em
$message-body-radius: $radius
$message-header-background-color: $black-ter
$message-header-padding: 0.25em 0.5em
$message-header-radius: $radius
$message-radius: $radius

// forms
$label-color: $white-ter
$input-placeholder-color: $red

@import 'bulma/sass/utilities/all'
@import 'bulma/sass/base/all'

@import 'bulma/sass/elements/button'
@import 'bulma/sass/elements/container'
@import 'bulma/sass/elements/content'
@import 'bulma/sass/elements/form'
@import 'bulma/sass/elements/icon'
@import 'bulma/sass/elements/tag'
@import 'bulma/sass/elements/title'

@import 'bulma/sass/components/message'
@import 'bulma/sass/components/navbar'

@import 'bulma/sass/grid/columns'

@import 'bulma/sass/layout/all'

body
  display: flex
  flex-direction: column
  min-height: 100vh

.expander
  flex-grow: 1
  flex-shrink: 0

.footer
  padding: 1rem // TODO: set $footer-padding instead
  border-top: 1px solid black
  flex-shrink: 0

#claimedCodes
  max-height: 25vh
  overflow: auto
  ul
    list-style: none
