/*#bingo-card
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
*/
.bingo-square
{
  border: 1px solid black;
}

.bingo-square.stamped
{
  background-image: url(/static/img/spoopstamp.png);
  background-size: contain;
}
